[user]
	name = Adam Lancaster
	email = lancaster28@hotmail.com
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	unadd = reset HEAD
  stashes = stash list
  uncommit = reset --soft HEAD~
  branches = branch
  sa = stash -u
  a = add
  s = status
	co = checkout
  graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
  getbranch = checkout --track
  rmbranch = branch -D
  undo-amend = reset --soft HEAD@{1}

